doctype html
html
  head
      block head
        title= title
        script(src='../javascripts/index.js')
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/index.css')
        link(rel='icon' href='/icons/favicon.ico' type='image/x-icon')
  body
    header
      nav#top-nav
        a(href="/"): #logo
          //- Source of icon design: https://fontawesome.com/v5/icons/images?s=regular, https://fontawesome.com/icons/face-grin-squint-tears?s=regular
          img(src="/icons/meme-overflow-icon.svg", alt="Meme Overflow")
        #search-bar
          //form(action='/search' method="get")
          form(action="/search/", method="get")
            input(type="text" name="search_keyword" id="search_keyword" required)
            button(type="submit") Search
            //a(href=`/search/:search_keyword`): button Search
            //how to link input to the form
            //how to get rid of the "?"

        #auth-buttons
          if isLoggedIn
            form(action="/logout" method="post")
              #logout: button(type="submit") Log Out
          else
            #login: a(href="/login"): button Log In
            #sign-up: a(href="/signup"): button Sign Up
    main
      #left-column

        if isLoggedIn
          #avatar: a(href="/profile")
            if currentUserAvatarUrl
              img(src=currentUserAvatarUrl, alt=currentUsername)
            else
              //- Source of icon design: https://fontawesome.com/v5/icons/user-circle?s=regular
              img.default-avatar(src="/icons/user-circle-regular.svg", alt=currentUsername)
            h3 Welcome to Meme Overflow #{user.username}!
            p @#{user.username}
            p User Since: #{user.createdAt.toISOString().split('T')[0]}
            #links
              p: a(href=`/users/${user.id}/questions`) My Questions
              p: a(href=`/users/${user.id}/answers`) My Answers
              p: a(href=`/users/${user.id}/comments`) My Comments


        #tags

      #main-column
        block content
      #right-column
        include right-column.pug
    footer
