doctype html
html
  head
      block head
        title= title
        script(src='../javascripts/index.js')
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/index.css')
        link(rel='icon' href='/icons/favicon.ico' type='image/x-icon')
  body
    header
      nav#top-nav
        a(href="/"): #logo
          //- Source of icon design: https://fontawesome.com/v5/icons/images?s=regular, https://fontawesome.com/icons/face-grin-squint-tears?s=regular
          img(src="/icons/meme-overflow-icon.svg", alt="Meme Overflow")
        #search-bar
          input(type="text" placeholder="search")
        #auth-buttons
          if isLoggedIn
            form(action="/logout" method="post")
              #logout: button(type="submit") Log Out
          else
            #login: a(href="/login"): button Log In
            #sign-up: a(href="/signup"): button Sign Up
    main
      #left-column
        if isLoggedIn
          #avatar: a(href="/profile")
            if currentUserAvatarUrl
              img(src=currentUserAvatarUrl, alt=currentUsername)
            else
              //- Source of icon design: https://fontawesome.com/v5/icons/user-circle?s=regular
              img.default-avatar(src="/icons/user-circle-regular.svg", alt=currentUsername)
            p @#{user.username}
            p User Since: #{user.createdAt.toISOString().split('T')[0]}
            p Max Likes: #{user.maxLikes}
            a(href=`/questions/${user.id}`) My Questions
            a(href=`/answers/${user.id}`) My Answers
            a(href=`/comments/${user.id}`) My Comments
        #tags
      #main-column
        block content
      #right-column
        #creators
          .creator
            img.default-avatar(src="/icons/user-circle-regular.svg", alt=currentUsername).creator
            p Crystal Chavez
            img(src="https://assets.stickpng.com/images/584856b4e0bb315b0f7675ac.png", alt="email" class="email")
          .creator
            img.default-avatar(src="/icons/user-circle-regular.svg", alt=currentUsername).creator
            p Kicky Lu
          .creator
            img.default-avatar(src="/icons/user-circle-regular.svg", alt=currentUsername).creator
            p Adam Tang
          .creator
            img.default-avatar(src="/icons/user-circle-regular.svg", alt=currentUsername).creator
            p Kateryna Tsymbal
    footer
