if isLoggedIn
    #avatar: a(href="/profile")
        img.default-avatar(src="/icons/user-circle-regular.svg", alt=user.username)
    p Welcome, #{user.username}!
    ul#user-links
        li#my-questions: a(href=`/users/${user.id}/questions`) My Questions
        li#my-answers: a(href=`/users/${user.id}/answers`) My Answers
        li#my-comments: a(href=`/users/${user.id}/comments`) My Comments
    #tags
