if isLoggedIn
    #avatar: a(href="/profile")
        if sessionUser.avatarUrl
            img(src=sessionUser.avatarUrl, alt=sessionUser.username)
        else
            //- Source of icon design: https://fontawesome.com/v5/icons/user-circle?s=regular
            img.default-avatar(src="/icons/user-circle-regular.svg", alt=sessionUser.username)
        .username @#{sessionUser.username}
        .user-since User Since: #{sessionUser.createdAt.toISOString().split('T')[0]}
    #greeting
        p Welcome to Meme Overflow, #{sessionUser.username}!
    ul#user-links
        li#my-questions: a(href=`/users/${sessionUser.id}/questions`) My Questions
        //- li#my-answers: a(href=`/users/${sessionUser.id}/answers`) My Answers
    #tags
