include utils.pug
#questions-container
    each question in questions
        .question-card(class=`color-${question.colorIndex}`)
            a(href=`/questions/${question.id}`)
                .question-body(id=`question-${question.id}`)
                    .question-title: p= question.title
                    .question-description: p= question.description
                    .question-author
                        +authorAvatar(question.User.avatarUrl, question.User.username)
                        span= question.User.username
            if question.isAuthorized
                .question-edit-delete
                    a(href=`/questions/${question.id}/edit`): button.question-edit(id=`edit-${question.id}`) Edit
                    a(href=`/questions/${question.id}/delete`): button.question-delete(id=`delete-${question.id}`) Delete
