mixin errorBlock(errors)
    if errors
        div
            p The following error(s) occurred:
            ul
                each error in errors
                    li= error

mixin questionForm(action)
    form#question-form(action=action , method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        label(for="title") Title:
        input(type="text" name="title" id="title" required value=question.title)
        label(for="description") Description:
        textarea(name="description" id="description" rows="3" required)= question.description
        button(type="submit") Submit
