extends ../layout.pug
include ../utils.pug
block content
    #question-container
        div(id=`question-${question.id}`)
            .question-title: p= question.title
            .question-description: p= question.description
            button(type="submit" id="newanswer").newanswer New Answer
            div.modalForm.modal
                h2 Your Answer
                +errorBlock(errors)
                form(method="POST" action=`/questions/${question.id}`)
                    input(type="hidden" name="_csrf" value=csrfToken)
                    label(for="title") Title
                    input(type="title" name="title" id="title")
                    label(for="memeUrl") Upload Image
                    input(type="url" name="memeUrl" id="memeUrl")
                    button(type="submit") Submit
                a(href=`/questions/${question.id}` id="cancel"): button Cancel
            if question.unlocked
                a(href=`/questions/${question.id}/edit`): button Edit
                a(href=`/questions/${question.id}/delete`): button Delete
            else
                #answer-container
                    each answer in question.Answers
                        div.single-answer(id=`answer-${answer.id}`)
                            .vote(id=`vote-${answer.id}`)
                                .vote-button-group
                                    .upvote
                                        img(src="/images/upvote.png", alt="Upvote" class="upvote-button" id=`upvote-${answer.id}`)
                                    span.vote-count(id=`vote-count-${answer.id}`)= answer.voteCount
                                    .downvote
                                        img(src="/images/downvote.png", alt="Downvote" class="downvote-button" id=`downvote-${answer.id}`)
                                .vote-placeholder
                            .answer-content
                                .answer-title: p= answer.title
                                .answer-meme: img(src=`${answer.memeUrl}`)
                                div
                                    a(href=`/answers/${answer.id}/edit`) Edit
                                    a(href=`/answers/${answer.id}/delete`) Delete
            //- if question.unlocked
            //-     a(href=`/questions/${question.id}/edit`): button Edit
            //-     a(href=`/questions/${question.id}/delete`): button Delete

        h2 Answers
        each answer in question.Answers
            div
                p=answer.title
                img(src=`${answer.memeUrl}`)
                div
                    button(type="submit" class="edit")  Edit
                    div.modalEdit.modal
                        h2 Your Answer
                        +errorBlock(errors)
                        form(method="post" action=`/answers/${answer.id}/edit`)
                            input(type="hidden" name="_csrf" value=csrfToken)
                            label(for="title") Title
                            input(type="title" name="title" id="title" value=answer.title)
                            label(for="memeUrl") Upload Image
                            input(type="url" name="memeUrl" id="memeUrl" value=answer.memeUrl)
                            button(type="submit") Submit
                        a(href=`/questions/${question.id}` id="cancel"): button Cancel
                    button(type="submit" class="delete")  Delete
                    div.modalDelete.modal
                        form(method="post" action=`/answers/${answer.id}/delete`)
                            input(type="hidden" name="_csrf" value=csrfToken)
                            p Do you want to delete this answer?
                            button(type="submit") Yes
                        a(href=`/questions/${question.id}` id="cancel"): button No
                    div
                        //- comment
                        p This is where comments are going to be
                        hr
    script(src='../../javascripts/question-display.js')
