extends ../layout.pug
include ../utils.pug
block content
    #question-container
        div(id=`question-${question.id}`)
            .question-title: p= question.title
            .question-description: p= question.description
            if question.unlocked
                a(href=`/questions/${question.id}/edit`): button Edit
                a(href=`/questions/${question.id}/delete`): button Delete
            else
                button(type="submit" id="newanswer").newanswer New Answer
                div.modalForm.modal
                    h2 Your Answer
                    +errorBlock(errors)
                    form(method="POST" action=`/questions/${question.id}`)
                        input(type="hidden" name="_csrf" value=csrfToken)
                        label(for="title") Title
                        input(type="title" name="title" id="title")
                        label(for="memeUrl") Upload Image
                        input(type="url" name="memeUrl" id="memeUrl")
                        button(type="submit") Submit
                    button#cancel Cancel
                hr
                #answer-container
                    each answer in question.Answers
                        div.single-answer(id=`answer-${answer.id}`)
                            .vote(id=`vote-${answer.id}`)
                                div(id=`upvote-${answer.id}`)
                                    img(src="/upvote-button.png", alt="Upvote")
                                span(id=`vote-count-${answer.id}`)= answer.voteCount
                                div(id=`downvote-${answer.id}`)
                                    img(src="/downvote-button.png", alt="Downvote")
                            .answer-content
                                .answer-title: p= answer.title
                                .answer-meme: img(src=`${answer.memeUrl}`)
                                div
                                    a(href=`/answers/${answer.id}/edit`) Edit
                                    a(href=`/questions/${question.id}` class="delete" id=`delete-${answer.id}`) Delete
                                    div.modalDelete.modal
                                        form(id="deleteForm" method="post" action=`/answers/${answer.id}`)
                                            input(type="hidden" name="id" value=answer.id)
                                            input(type="hidden" name="_csrf" value=csrfToken)
                                            p Do you want to delete this answer?
                                            button(type="submit" class="yes" id=`yes-${answer.id}`) Yes
                                        button#cancel No
                        hr
